body {
    background-color: hsl(30, 38%, 92%);
    width: 375px;
}

.background {
    background-color: #ffffff;
    width: 375px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 10px;
}

 .perfume {
    width: 375px;
    height: auto;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 0 0;
}

h4 {
    font-family: "Montserrat", san serif;
    color: hsl(210, 5%, 41%);
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 5px;
    letter-spacing: .2rem;
    font-size: 12px;

}

.title {
    font-size: 30px;
    font-family: "Fraunces", san serif;
    justify-content: left;
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 8px;
}

.description {
    font-size: 14px;
    font-family: "Montserrat", san serif;
    font-weight: 500, 700;
    color: hsl(228, 12%, 48%);
    margin-top: 8px;
    margin-left: 20px;
    line-height: 30px;
    
}

.discount {
    color: hsl(158, 36%, 37%);
    margin-left: 20px;
    margin-top: 5px;
}

.regular {
    font-size: 18px;
    color: hsl(228, 12%, 48%);
    font-family: "Fraunces", san serif;
}

.materials-symbols-outlined {
    font-weight: 900;
}

#cart {
    background-color: hsl(158, 36%, 37%);
    color: white;
    font-size: 22px;
    width: 375px;
}
