/*@media screen  and (max-height: 680px) {*/
   


body { /*This is my peach colored background*/
    background-color: hsl(30, 38%, 92%);
    width: 375px;
    margin: auto;
    padding-top: 100px;
}

.background { /*This is my white background*/
    background-color: #ffffff;
    width: 375px;
    border-radius: 10px;
    margin: auto;

}


.content {  /*This is my img, titles, and description*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.perfume { /*This is my img only*/
    width: 375px;
    height: auto;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 0 0;
} 


h4 { /*This is my product category type title*/
    font-family: "Montserrat", san serif;
    color: hsl(228, 12%, 48%);
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 5px;
    letter-spacing: .2rem;
    font-size: 12px;

}

.title { /*This is my product brand title*/
    font-size: 30px;
    font-family: "Fraunces", san serif;
    justify-content: left;
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 8px;
}

.description { /*This is my description of product*/
    font-size: 16px;
    font-family: "Montserrat", san serif;
    font-weight: 500, 700;
    color: hsl(228, 12%, 48%);
    margin-top: 8px;
    margin-left: 20px;
    line-height: 30px;
    letter-spacing: .1rem;
    margin-bottom: 0px;
    
}

.pricing {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    
}

.discount { /*This is my product discount price*/
    color: hsl(158, 36%, 37%);
    font-family: "Fraunces", san serif;
    
}

.regular { /*This is my product regular price*/
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    font-family: "Fraunces", san serif;
    margin: 20px;
    padding-top: 10px;
}

.cart {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 25px;
    margin-top: 0px;
}

#cart { /*This is my button*/
    background-color: hsl(158, 36%, 37%);
    color: white;
    font-size: 16px;
    width: 330px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    justify-content: center;
}

.material-symbols-outlined { /*This is my cart icon*/
    font-weight: 900;

}

